body {
    background: #fff;
    color: @base-color;
    font-family: @font;
    font-size: 14px;
    margin: 0;
}

body > svg {
    display: none;
}

svg.icon {
    display: inline-block;
    vertical-align: baseline;
    fill: currentColor;
}
