@font-face {
    font-family: 'Open Sans';
    font-weight: normal;
    src:
        url('/fonts/opensans.woff'),
        url('/fonts/opensans.woff2');
}
@font-face {
    font-family: 'Open Sans';
    font-weight: bold;
    src:
        url('/fonts/opensansbold.woff'),
        url('/fonts/opensansbold.woff2');
}
@font-face {
    font-family: 'Open Sans';
    font-weight: 300;
    src:
        url('/fonts/opensanslight.woff'),
        url('/fonts/opensanslight.woff2');
}
