@font: 'Open Sans', Arial, sans-serif;

@base-color: #283645;
@color-pink: #d22856;

@container-padding-mobile: 20px;
@container-padding-tablet: 40px;
@container-max-width: 940px;

@screen-width-mobile: 320px;
@screen-width-tablet: 700px;
@screen-width-desktop: 1200px;

@mobile: e("screen and (min-width: @{screen-width-mobile})");
@mobile-only: e("screen and (max-width: 699px)");
@tablet: e("screen and (min-width: @{screen-width-tablet})");
@tablet-only: e("screen and (min-width: @{screen-width-tablet}) and (max-width: 1199px)");
@desktop: e("screen and (min-width: @{screen-width-desktop})");

@less-than-desktop: e("screen and max-width: @{screen-width-desktop})");

@column-tablet: calc(~"50% - 10px");
@column-desktop: calc(~"(100% - 40px) / 3");

.flex-column() {
    display: flex;
    flex-direction: column;
}

.page-text() {
    text-align: center;
    line-height: 30px;
    font-size: 14px;

    @media @tablet {
        font-size: 18px;
    }
}
