.btn {
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    color: @color-pink;
    border: 3px solid currentColor;
    padding: 15px 30px;
    text-align: center;
    background: transparent;
    border-radius: 27px;
}

.btn-gray {
    color: #dddfe0;
}
