.container {
    padding-left: @container-padding-mobile;
    padding-right: @container-padding-mobile;

    max-width: @container-max-width;
    margin-left: auto;
    margin-right: auto;

    @media @tablet {
        padding-left: @container-padding-tablet;
        padding-right: @container-padding-tablet;
    }
}
