.menu__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: @base-color;

    display: none;

    @media @desktop {
        background: transparent;
        position: static;
        display: flex;
        margin-left: auto;
    }
}

.menu__toggle {
    background: transparent;
    border: none;
    padding: 0;
}

@media @desktop {
    .menu__item:not(:first-child) {
        margin-left: 80px;
    }

    .menu__toggle {
        display: none;
    }
}

.menu__link {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    padding: 20px;
    display: block;

    @media @less-than-desktop {
        text-transform: uppercase;
        box-shadow: inset 0 1px 1px #485360;
        border-top: 1px solid #000;
    }

    @media @desktop {
        border-bottom: 1px solid transparent;
        box-shadow: none;
        padding: 20px 0 14px;

        transition: border-color .2s ease;

        &:hover {
            border-bottom-color: #fff;
        }
    }
}
