.page-header {
    color: #fff;
    background-color: @base-color;
    background-image: url('/img/bg-back-mobile.jpg');
    background-size: cover;
    background-position: center center;
    padding-bottom: 80px;

    @media @tablet {
        padding-bottom: 140px;
    }

    @media @desktop {
        padding-bottom: 100px;
    }
}

.page-header__title {
    text-align: center;
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    margin: 0;

    @media @tablet {
        font-size: 50px;
        line-height: 60px;
    }
}

.icon.page-header__logo {
    width: 0;
    height: 0;
    display: block;
    position: relative;

    &--mobile {
        @media @mobile-only {
            width: 76px;
            height: 25px;
        }
    }

    &--tablet {
        @media @tablet-only {
            width: 150px;
            height: 40px;
            top: -4px;
        }
    }

    &--desktop {
        @media @desktop {
            width: 150px;
            height: 40px;
        }
    }
}

.page-header__nav {
    background: rgba(0,0,0,0.4);
    padding: 20px 0;
    margin-bottom: 30px;

    .container {
        display: flex;
        justify-content: space-between;
    }

    @media @tablet {
        padding: 30px 0;
        margin-bottom: 65px;
    }
}
