.photo-uploader {
    background: #f2f2f2;
    padding: @container-padding-mobile;

    @media @tablet {
        display: flex;
        justify-content: space-between;
        padding: 55px @container-padding-tablet;
    }
}

.photo-uploader__photo {
    @media @tablet {
        width: @column-tablet;
    }
}

.photo-uploader__controls {
    @media @tablet {
        width: @column-tablet;
    }
}

.photo-uploader__effects {
    padding: 0 20px;
    display: flex;

    @media @tablet {
        padding-left: 25px;
        padding-right: 0;
        flex-direction: column;
        margin-bottom: auto;
    }
}

.photo-uploader__effect
{
    @media @tablet {
        height: 40px;
        padding: 17px 20px 15px 0;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #dddfe0;

        &:first-child {
            padding-top: 0;
        }
    }
}

.photo-uploader__slider
{
    position: relative;

    @media @tablet {
        height: 2px;
        background: #283645;
        flex-grow: 1;
        margin-left: 26px;
    }
}

.photo-uploader__slider-control
{
    position: absolute;
    box-sizing: border-box;
    width: 14px;
    height: 14px;
    border: 2px solid @color-pink;
    border-radius: 50%;
    background: #f2f2f2;
    top: -6px;
    left: 50%;
}

.photo-uploader__button {
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
    width: 30px;
    height: 30px;
    color: @color-pink;
}
