.photo {
    padding: 0;
    margin: 0 0 20px;
    background: #f2f2f2;
    .flex-column();
}

.photo:not(.photo--panorama) {
    @media @tablet {
        width: @column-tablet;
    }

    @media @desktop {
        width: @column-desktop;
    }
}

.photo--panorama {
    width: 100%;

    @media @tablet {
        margin-bottom: 50px;
    }
}

.photo--panorama .photo__wrapper {
    margin-left: 0 - @container-padding-mobile;
    margin-right: 0 - @container-padding-mobile;

    @media @tablet {
        margin-left: 0 - @container-padding-tablet;
        margin-right: 0 - @container-padding-tablet;
    }

    @media @desktop {
        width: 100vw;
        margin-left: calc(~"50% - 50vw");
        margin-right: calc(~"50% - 50vw");
        max-height: 80vh;
        overflow: hidden;
    }
}

.photo__img {
    display: block;
    width: 100%;
}

.photo__caption {
    overflow: hidden;
    line-height: 24px;
    padding: 18px 18px 23px;
    box-sizing: border-box;
    flex-grow: 1;
    .flex-column();

    @media @tablet {
        padding: 25px 27px;
        min-height: 155px;
    }
}

.photo__author,
.photo__comment
{
    margin: 0;
}

.photo__author {
    order: -2;
    font-weight: bold;
}

.photo__comment {
    margin-bottom: auto;
}

.photo__time {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 12px;
    margin-left: 2px;

    &::before {
        content: ' (';
    }

    &::after {
        content: ')';
    }
}

.photo__likes {
    border: none;
    background: none;
    font-size: 12px;
    color: @color-pink;
    text-transform: uppercase;
    padding: 0;
    margin-top: 15px;
    text-align: left;
    display: flex;

    .icon {
        height: 12px;
        margin-right: 16px;

        @media @tablet {
            order: 1;
            margin-right: 4px;
            margin-left: auto;
        }
    }
}

@media @tablet {
    .photo--panorama {
        .photo__caption {
            flex-direction: row;
            flex-wrap: wrap;
        }

        .photo__likes {
            order: -1;
            margin-top: 0;
            margin-left: auto;
            display: flex;

            .icon {
                order: 1;
                margin-right: 0;
                margin-left: 16px;
            }
        }
    }
}
