mixin page-header()
    header.page-header
        .page-header__nav
            .container
                a.page-header__pink(href='/')
                    +svg('logo-pink-white-mobile').page-header__logo.page-header__logo--mobile
                    +svg('logo-pink-white-tablet').page-header__logo.page-header__logo--tablet(width=146,height=40)
                    +svg('logo-pink-white-desktop').page-header__logo.page-header__logo--desktop
                nav.menu
                    button.menu__toggle
                        +svg('icon-menu-burger')(width=50,height=50)
                    ul.menu__list
                        li.menu__item
                            a.menu__link(href="/") Главная
                        li.menu__item
                            a.menu__link(href="/photos/") Фотографии
                        li.menu__item
                            a.menu__link(href="/form/") Конкурс
                        li.menu__item
                            a.menu__link(href="https://isqua.ru/htmlacademy") HTML Academy
        if block
            block
