mixin picture(name)
    picture
        source(media='(min-width: 700px)', srcset='/img/#{name}-tablet.jpg')
        source(media='(min-width: 1200px)', srcset='/img/#{name}-desktop.jpg')
        img&attributes(attributes)(src='/img/#{name}-mobile.jpg')
