doctype html
html(lang='ru')
    head
        meta(charset='utf-8')
        title Фотографии. Pink
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='/css/style.css')
    body
        include ../includes/picture.jade
        include ../includes/svg.jade
        include ../includes/page-header.jade

        +page-header
            h1.container.page-header__title Фотографии пользователей

        main.content

            section.photo-text.container
                p Взгляните на фотографии, которые выкладывают пользователи! Видите, как не хватает ваших?

            section.photos.container

                mixin photo(name, author, time, comment, likes)
                    figure&attributes(attributes).photo
                        .photo__wrapper
                            +picture(name)

                        figcaption.photo__caption
                            p.photo__author
                                | #{author}
                                time.photo__time #{time}
                            p.photo__comment
                                | #{comment}
                            button.photo__likes(type='button')
                                +svg('icon-heart')
                                | Нравится: #{likes}

                +photo(
                    'panorama',
                    'Анна',
                    '5 минут назад',
                    'Прыгать или нет? Напишите в комментариях свой совет и смотрите прямую трансляцию в перископе, ' +
                        'задавайте свои вопросы!',
                    '215'
                ).photo--panorama

                +photo(
                    'photo-1',
                    'Левон',
                    '5 часов назад',
                    'Вчера он на луну летал, сегодня в руки к нам попал.',
                    '356'
                )

                +photo(
                    'photo-2',
                    'Антон',
                    '12 часов назад',
                    'Соседи будут рады!',
                    '666'
                )

                +photo(
                    'photo-3',
                    'Борис',
                    '20 часов назад',
                    'Здесь могла быть ваша цитата о высоком и вечном.',
                    '215'
                )

                +photo(
                    'photo-4',
                    'Сергей',
                    '25 часов назад',
                    'Самая кубанская в мире!',
                    '4'
                )

                +photo(
                    'photo-5',
                    'Максим',
                    '40 часов назад',
                    'Где снег-то?',
                    '150'
                )

                +photo(
                    'photo-6',
                    'Надежда',
                    '45 часов назад',
                    'Всем GM и взаимные лайки!',
                    '2560'
                )

            section.photo-text.container
                p
                    | Затмите их всех!
                    br
                    | Выкладывайте всё, что накопилось в телефоне!


            section.photo-uploader
                .photo-uploader__photo
                    +picture('photo-7')

                .photo-uploader__controls

                    mixin photo-effect(icon, width, height)
                        .photo-uploader__effect
                            button.photo-uploader__button
                                +svg(icon).photo-uploader__icon(width=width,height=height)
                            .photo-uploader__slider
                                .photo-uploader__slider-control

                    .photo-uploader__effects
                        +photo-effect('icon-editor-crop', 24, 24)
                        +photo-effect('icon-editor-fill', 24, 24)
                        +photo-effect('icon-editor-contrast', 16, 16)

                    .photo-uploader__actions
                        button.btn Запостить
                        button.btn.btn-gray Отмена
